/* src/components/Projects.css */
.projects-section {
    height: 100vh;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; /* Adjust this value to add space below the Projects section */
}

.section-title {
    font-size: 4rem;
    font-weight: bold;
    color: #eec211; /* Adjust color as needed */
    margin-bottom: 20px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: #333; /* Background color for the card */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.project-description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
